<div class="card mat-card info-acercaDe">        
    <img src="assets/imagenes_portfolio/Imagen Mia2.jpg" id="imagenMia" class="img-fluid" alt="imagenMia2">            
    
    <div id="info-description">
        <h1>Acerca de mi...</h1>
        <p>
            Nací en la Localidad de Resistencia, Provincia del Chaco, lugar donde cursé mis estudios primario y secundario obteniendo mí título orientado a Humanidades y Ciencias Sociales.                      
        </p>
        <p>
            En el año 2015 me inscribí al Servicio Militar donde me formé y egresé como Soldado Voluntario adquiriendo no solo conocimientos teóricos y habilidades tácticas de la profesión,sino
            que también una educación en valores y disciplina que me ayudaron a desenvolverme de manera responsable en el cumplimiento de órdenes.
        </p>
        <p>
            En el año 2017 opté por asumir el desafio de seguir creciendo profesionalmente en la carrera militar y me inscribí en la Escuela de Suboficiales del Ejercito Sargento Cabral, carrera 
            con una duración de dos años en donde cursé una tecnicatura obteniendo el título en "Recursos para la Defensa" y egresando en el año 2018 como Suboficial del arma de Comunicaciones e Informática.
        </p>
        <p>
            Desde el año 2019 a la fecha me encuentro todavía prestando servicio en las filas del ejército, pero expandiendo a la vez mis horizontes con todo lo relacionado a las nuevas tecnologías de la információn, 
            haciendo especial énfasis en el Desarrollo Web y la Programación, áreas en las que me encuentro cursando para adquirir conocimientos y habilidades de desarrollador.
        </p>
    </div>                     
</div>
