
<div class="card mat-card">
    <div class="info-habilidades">
        <h1>Hard Skills</h1>        
                <div class="skills-wrapper">
                    <div class="row">
                        <div class="skill">
                            <div class="content col">
                                <span>95%</span><span>HTML</span>
                            </div>                          
                        </div>
                        <div class="skill">
                            <div class="content col">
                                <span>70%</span><span>CSS</span>
                            </div>
                        </div>
                        <div class="skill">
                            <div class="content col">
                                <span>65%</span><span>JavaScript</span>
                            </div>
                        </div>
                        <div class="skill">
                            <div class="content col">
                                <span>30%</span><span>Angular</span>
                            </div>
                        </div>
                        <div class="skill">
                            <div class="content col">
                                <span>30%</span><span>Bootstrap</span>
                            </div>
                        </div>
                    </div>           
                </div>
        <div class="info-softSkills">
            <h1>Soft Skills</h1>
        </div>
    </div>
</div>
