<div class="card mat-card">
    <div class="info-education">
        <h1>Educación</h1>
        <div class="isdelEduc">
            <img src="assets/imagenes_portfolio/ISDEL.jpg" alt="isdelEducacion">
            <div class="info-isdelEduc">
                <h2>Instituto Superior De Educación Laboral</h2>
                <h4>Operador de PC con OFFICE Plus y Mecanografía</h4>
                <h5><time>Febrero 2014 - Diciembre 2014</time></h5>
            </div>
        </div>
        <br>
        <div class="esesc">
            <img src="assets/imagenes_portfolio/LOGO ESESC.png" alt="logoesesc">
            <div class="info-esesc">
                <h2>Escuela de Suboficiales del Ejército "Sargento Cabral"</h2>
                <h4>Comunicaciones e informática</h4>
                <h5><time>Febrero 2017 - Diciembre 2018</time></h5>
            </div>
        </div>
    </div>
</div>
