<div class="card mat-card">          
    <img src="assets/imagenes_portfolio/mac-keyboard-header.webp" id="Encabezado" class="img-fluid" alt="Imagenes">
    <div class="btn-edit"><a href="#" class="btn-right"><i class="fa fa-pen"></i></a></div>
    <div id="imagen">
        <img src="assets/imagenes_portfolio/Imagen mia.jpg" class="rounded-circle" alt="imagenMia"> 
        <div id="datos">
            <h1>Damian <span>Maidana</span></h1>
            <h5>Desarrollador Web FullStack Jr.</h5>
            <p>Buenos Aires (Argentina) 
                <button><span><a href="#">Información de Contacto</a></span></button>
            </p>
            <a role="button" data-bs-toggle="collapse" class="btn btn-primary" href="#collapseExample" aria-expanded="false">Tengo interés en...</a>
            <div class="collapse" id="collapseExample">
                <ul>
                    <li>
                        <div class="card card-body">
                            Desarrollo de Software y Programación.
                        </div>
                    </li>
                    <li>
                        <div class="card card-body">
                            Inteligencia Artificial.
                        </div>
                    </li>
                    <li>
                        <div class="card card-body">
                            Ciberseguridad.
                        </div>
                    </li>
                </ul>
            </div>                                        
        </div>                       
    </div>                              
    </div>