<div class="card mat-card">
    <div class="info-experience">
        <h1>Experiencia</h1>
        <div class="isdel">
            <img src="assets/imagenes_portfolio/ISDEL.jpg" alt="isdelImage">
            <div class="info-isdel">
                <h4>Profesor auxiliar de Informática</h4>
                <h5>I.S.D.E.L - Contrato de Prácticas</h5>
                <h6><time>Febrero 2014 - Diciembre 2014</time></h6>
                <p>Resistencia - Chaco (Argentina)</p>
            </div>
        </div> 
        <hr>
        <div class="ejercito">
            <img src="assets/imagenes_portfolio/ejercito-logo-sol_de_mayo_128px.png" alt="">
            <div class="info-ejercito">
                <h4>Soldado Voluntario</h4>
                <h5>Ejército Argentino - Jornada Parcial</h5>
                <h6><time>Abril 2015 - Diciembre 2016</time></h6>
                <p>Resistencia - Chaco</p>
            </div>
        </div>
        <hr>
        <div class="suboficial">
            <img src="assets/imagenes_portfolio/ejercito-logo-sol_de_mayo_128px.png" alt="">
            <div class="info-suboficial">
                <h4>Suboficial de Comunicaciones e Informática</h4>
                <h5>Ejército Argentino - Jornada Completa</h5>
                <h6><time>Diciembre 2018 - Actualidad</time></h6>
                <p>Campo de Mayo - Pcia Buenos Aires</p>
                <p>Ministerio de Defensa - Ciudad Autónoma de Buenos Aires</p>
            </div>
        </div>
    </div>
</div>
