<header>
  <nav class="navbar navbar-expand-lg bg-dark navbar-dark">
      <div class="container-fluid">
          <a class="navbar-brand" href="#">D<span>M</span></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse redes-container" id="navbarSupportedContent">
              <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                      <a class="facebook" href="https://www.facebook.com/damian.maidana.167"><i class="fab fa-facebook-f"></i></a>                              
                  </li>
                  <li class="nav-item">
                      <a class="twitter" href="https://twitter.com/damiancho_ok"><i class="fab fa-twitter"></i></a>                                
                  </li>
                  <li class="nav-item">
                      <a class="instagram" href="https://www.instagram.com/damian_maidan4"><i class="fab fa-instagram"></i></a>                                
                  </li>
                  <li class="nav-item">
                      <a class="linkedin" href="https://www.linkedin.com/in/damian-maidana-76a2661bb"><i class="fab fa-linkedin"></i></a>
                  </li>
                  <form class="d-flex">
                      <button type="button" class="btn btn-outline-success">Login</button>
                  </form>
              </ul>                        
          </div>                    
      </div>
  </nav>                    
</header>
<section>        
  <div class="container-fluid"> 
     <app-encabezado></app-encabezado>
     <app-acerca-de></app-acerca-de>
     <app-experiencia></app-experiencia>
     <app-educacion></app-educacion> 
     <app-habilidades></app-habilidades>         
  </div>                                  
</section>
<footer>
</footer>
